.toast-container {
    left: unset;
    right: var(--pgn-spacing-toast-container-gutter-lg);
}

.text-prewrap {
    white-space: pre-wrap;
}

.username .form-control::placeholder {
    font-size: var(--pgn-typography-form-input-font-size-sm);
}

.info-tooltip .tooltip-inner {
    max-width: none;
    background-color: var(--pgn-color-primary-700);
}
